<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-3.4.1.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="app" v-cloak>
		<template v-if="list.length">
			<table>
				<thead>
					<tr>
						<th><input type="checkbox" :checked="selectAll" @click="handelSelectAll()"></th>
						<th></th>
						<th>商品名称</th>
						<th>商品单价</th>
						<th>购买数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>

					<template v-for="(item,idx) in list">
						<template>
							<tr>
								<td colspan="5">kind of : {{idx}}</td>
							</tr>
						</template>
						<tr v-for="(item,index) in list[idx]">
							<td><input type="checkbox" v-model="item.checked"></td>
							<td>{{item.name}}</td>
							<td>{{item.price}}</td>
							<td>
								<button @click="handleReduce(idx,index)" :disabled="item.count ===1">-</button>
								{{item.count}}
								<button @click="handleAdd(idx,index)">+</button>
							</td>
							<td>
								<button @click="handleRemove(idx,index)">移除</button>
							</td>
						</tr>
					</template>

				</tbody>
			</table>
			<div>总价:￥{{totalPrice}}</div>
		</template>
		<div v-else>
			购物车为空
		</div>
		{{list}}
		<!-- {{selectAll}} -->
	</div>	
</body>
<script src="js/Cart2.js"></script>
</html>

