<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="js/jquery-3.4.1.js"></script>
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input-number v-model="value" :max="10" :min="0"></input-number>
		<input-number v-model="age" :max="99" :min="12"></input-number>
		<p/>
		<h5>value:{{value}}</h5>
		<h5>age:{{age}}</h5>
		<button @click="init">init</button>
	</div>
</body>
<script src="js/input-number.js"></script>
<script>
	var app = new Vue({
		el: '#app' ,
		data: {
			value: 5,
			age:20
		},
		methods: {
			init:function(){
				this.value=0;
				this.age=12;
			}
		}
	});
</script>
</html>